[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = nvim
[user]
	name = Sai Kumar
	email = ksai44576@gmail.com
